@model WebApplication25.Models.Data.SiteEntity

@{
    ViewData["Title"] = "Create";
}

<div class="card m-5">
    <div class="card-header">
        <h1>Create</h1>

        <h4>SiteEntity</h4>
    </div>
    <div class="card-body m-4 text-center">
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group w-50 text-center" style="margin-left:8cm">
                        <label asp-for="Name" class="control-label m-3"></label>
                        <input asp-for="Name" class="form-control text-center" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group w-50 text-center " style="margin-left:8cm">
                        <label asp-for="Site_ID" class="control-label m-3"></label>
                        <input asp-for="Site_ID" class="form-control text-center" />
                        <span asp-validation-for="Site_ID" class="text-danger"></span>
                    </div>

                    <div class="form-group m-5">
                        <input type="submit" value="Create" class="btn btn-sm btn-outline-success" />          
                        <a asp-action="Index" class="btn btn-sm btn-outline-dark">Back to List</a>

                    </div>
                </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
